<div class = "container">
  <ng-template #errors>
    <div class="text-danger">{{errorMessage}}</div>
  </ng-template>
  <a style="padding-left: 20px" class="navbar-brand d-flex justify-content-center" routerLink="/"><i class="bi bi-car-front fs-1 "></i></a>
  <div class="card" *ngIf="products; else errors">
    <div class="card-header d-flex justify-content-center">
      <p class="fs-3">Drivers List </p>
    </div>
    <div class="card-body">
      <form [formGroup] = "searchFormGroup" (ngSubmit) = "handleSearchDriver()">
        <div class="input-group">
          <label class="input-group-text">Keyword</label>
          <input type="text" class="form-control" formControlName = "keyword">
          <button class="btn btn-success"><i class="bi bi-search"></i></button>
        </div>
      </form>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Telephone</th>
          <th>Availability</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.userId}}</td>
          <td>{{product.name}}</td>
          <td>{{product.phone}}</td>
          <td *ngIf ="product.disponibilite"><i class="bi bi-check text-success fs-1"></i></td>
          <td *ngIf ="!product.disponibilite"><i class="bi bi-x-lg text-danger fs-3"></i></td>
          <td>
            <button (click)="handleToggleDriverStatus(product)" [ngClass] = "product.disponibilite ==true ? 'btn-danger':'btn-success'" class="btn">
              <span *ngIf="product.disponibilite">Not Available</span>
              <span *ngIf="!product.disponibilite">Available</span>
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="handleDeleteProduct(product)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-primary" (click)="handleAddProduct()">Add Driver</button>
      <button class="btn btn-primary" (click)="handleBackHome()">Back</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

