<div class="container mt-4">
  <ng-template #errors>
    <div class="text-danger">{{ errorMessage }}</div>
  </ng-template>

  <a class="navbar-brand d-flex justify-content-center mb-4" routerLink="/">
    <i class="bi bi-car-front fs-1"></i>
  </a>

  <div class="card shadow" *ngIf="tracks && tracks.length > 0; else errors">
    <div class="card-header text-center">
      <p class="fs-3 m-0">Tracks List</p>
    </div>

    <div class="card-body p-4">
      <table class="table table-hover">
        <thead class="table-light">
        <tr>
          <th>Track ID</th>
          <th>Track Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let track of tracks">
          <td>{{ track.id }}</td>
          <td>{{ track.nom }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="handleDeleteTrack(track)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-success" routerLink="/add-track">
        <i class="bi bi-plus-circle"></i> Add Track
      </button>
      <button class="btn btn-secondary" (click)="handleBackHome()">
        <i class="bi bi-arrow-left-circle"></i> Back
      </button>
    </div>
  </div>
  <div class="logout-container mt-4 text-center">
    <button class="btn btn-danger" routerLink="/login">Logout</button>
  </div>
</div>

<router-outlet></router-outlet>
